*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.d-flex{
    display: flex;
    justify-content: space-between;
}
h2{
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 20px;
    text-align: center;
}
.simple-animation{
 padding: 60px 0px;
}
.simple-animation h2 {
    text-align: center;
}
.main_wrap{
    padding: 60px 0px;
}
.box{
     width: 100px;
    height: 100px;
    border-radius: 8px;
    position: relative;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
}  
.purple{
    background-color: #800080;
}
.green{
    background-color: #008000;
}
.orange{
    background-color: #ffa500;
}
.circle{
    background-color: #7fffd4;
    border-radius: 50px;
    width: 80px;
    height: 80px;
}

/* Rotaion animation section */
.rotation-animation{
    padding: 60px 0px;
    background-color: #faebd75e;
}
.rotation-animation h2{
    text-align: center;
}
.rot-box{
    width: 120px;
    height: 120px;
    border-radius: 10px;
}
.green-rot{
    background-color: #0deda2;
}
.purple-rot{
    background-color: #a935a9;
}
.orange-rot{
    background-color: #ff4d00;
}
/* Staggers  section */
.staggers-animation {
    padding: 60px 0px;
}
.stagger-box{
 width: 60px;
 height: 60px;
 border-radius: 16px;
 cursor: pointer;
}
.simple-staggers {
    width: 48%;
}
.stagger-green{
    background-color:#28A92B;
}
.stagger-purple{
    background-color:#8D3DAE;
}
.stagger-orange{
    background-color:#E77614;
}
.stagger-yellow{
    background-color: #ffff00;
}
.d-stagger-box{
    margin: 0px 1.5% 1.5% 0px;
    border-radius: 0;
}
.d-stagger-box{
    width: 40px;
    height: 40px;
    position: relative;
    border-radius: 6px;
    margin-top: 4px;
    display: inline-block;
}
.d-staggers{
    width: 43%;
    height: 100%;
    position: relative;
    display: inline-block;
}
/* Spiderman Animation section */
.spiderman_logo{
    padding: 60px 0px 60px 40px;
}
.spiderman_animation {
    padding: 80px 0px;
    background-color: #fdf8f0;
}

/* scrolly images section */
.scrolly_image_wrap{ 
 padding: 80px 0px;
}
.scrolly_image_wrap text {
    font-size: 8rem;
    stroke: #D93240;
    stroke-width: 2px;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    fill: transparent;
    animation: dash 5s ease-out alternate infinite;
    
  }
  .scrolly_image_wrap{
    position: relative;
  }
  .scrolly_image_wrap svg {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%)  
  }
@keyframes dash {
    from {
      stroke-dashoffset: 1000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  .canvas_animation{
    padding: 60px 0px;
  }
  #canvas {
    height: 80vh;
    max-height: 300px;
    overflow: visible;
    border: solid 2px #ff5722;
  }
  button {
    text-transform: none;
    margin: 0.25rem;
  }
  
  .nav.light {
    padding-top: 2rem;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  .control_box{
   width: 100px;
   height: 100px;
   border-radius: 12px;
   background-color: #0deda2;
  }
  .control_animation{
   width: 55%;
  }
  .nav.light button {
    border: none;
    padding: 10px 20px;
    background-color: #d5d5d5b0;
    border: 1px solid #d5d5d5;
    font-size: 16px;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
}
.nav.light button:hover{
    background-color: transparent;
    border: 1px solid #0deda2;
    transition: all 0.2s;

}
/* Responsive */
@media (max-width:767px) {
    .container{
        width: 90%;
    } 
    h2{
        font-size: 24px;
        line-height: 34px;
        margin-bottom: 15px;
    }
    .box{
        width: 50px;
        height: 50px;
    } 
    .circle{
        width: 50px;
        height: 50px;
    }
    .rot-box{
        width: 60px;
        height: 60px;
    }
}
